* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #006666;
}

a:hover {
    color: #00cccc;
}

#hyper-link {
    text-decoration: none;
    color: #ff9966;
}

#hyper-link:hover {
    color: lightblue;
    text-decoration: none;
}

#hyper-link:active {
    color: #00cccc;
    text-decoration: none;
}

.page-wrapper {
    position: absolute;
    background-color: #ffffe6;
    height: 100vh;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    z-index: -1;
    padding-left: 15%;
}

.color-bar {
    position: absolute;
    height: 100vh;
    width: 14px;
    background-color: #ff9966;
    left: 55px;
    z-index: -1;
}

.color-bar-two {
    position: absolute;
    height: 100vh;
    width: 10px;
    background-color: lightblue;
    left: 25px;
    z-index: -1;
}

.color-bar-three {
    position: absolute;
    height: 100vh;
    width: 15px;
    background-color: #006666;
    left: 10px;
    z-index: -1;
}

.middle-container {
    height: 100%;
    width: 70%;
    min-width: 800px;
    /* margin-top: 50px; */
    /* background-color: pink; */
    color: #4d4d4d;
    /* color: black; */
}

.name-box {
    color: #3973ac;
    margin: 20px 0px 130px 0px;
    font-weight: bold;
    font-size: 55px;
    letter-spacing: 4px;
    width: 700px;
}

.text-box {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
}


.intro-text {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 1.5em;
    font-weight: bold;
}


/* About Page */

.about-wrapper {
    background-color: #ffffe6;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.content-wrapper {
    /* background-color: pink; */
    width: 85%;
    height: 80%;
    min-width: 1200px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    /* background-color: lightblue; */
}

.header {
    display: flex;
    font-size: 50px;
}

.about-text-box {
    /* background-color: lightblue; */
    font-size: 25px;
    padding-left: 50px;
    padding-top: 20px;
    letter-spacing: 2px;
    width: 70%;
    min-width: 1000px;
    padding-right: 100px;
}

.about-blurb {
    color: #2d5986;
    line-height: 53px;
}

#prof-pic {
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

#pic-border {
    background-color: lightblue;
    width: 175px;
    padding: 20px 25px 25px 5px;
    border-radius: 50%;
}

#name-text {
    color: #006666;
    /* height: 175px; */
    margin-bottom: 30px;
    font-size: 50px;
    display: flex;
    align-items: center;
}

.nav-bar {
    /* background-color: lightblue; */
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    color: #006666;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    /* letter-spacing: 4px; */
    padding-top: 100px;
    right: 100px;
    top: -50px;
}

.education-text {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding-top: 25px;
    color: #ff9966;
    font-size: 20px;
    letter-spacing: 4px
}